.footer {
  padding: 50px 0;
  min-height: 151px;
  background-color: #34547a;
  color: white;

  &__bg {
    font-size: 21px;
    margin-bottom: 20px;

    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  &__sm {
    font-size: 13px;

    @media (max-width: 992px) {
      font-size: 11px;
    }
  }

  @media (max-width: 992px) {
    padding: 30px 0;
    min-height: 120px;
  }
}
